extends public/layout
block content
    div.container.clearfix
        //文章详情
        div.panel.pull-left
            div.panel-title 文章详情
            div.panel-content.article
                h1.title.text-center #{article.title}
                div.detail.text-muted.text-center
                    span 作者：#{article.authors}
                    span 导师：#{article.tutors}
                    span 学术机构：#{article.institution}
                p.content #{article.summary}
                div.keywords 关键字:
                    //- 把关键字字符串转化成数组
                    - var keywords = article.keywords ? article.keywords.split(";") : [];
                    for keyword in keywords
                        a(href="/records?qs=#{keyword}") #{keyword}







