//
   Created by thanatos on 15-8-12.

extends public/simple-layout

block content
    div.panel-virtual
        if robots.length > 0
            script(data-main='/javascripts/robot-require', src='/javascripts/lib/require.js')
            div.panel-robots
                each robot in  robots
                    div.robot.text-center(data-id='#{robot.id}')
                        div.img.text-center
                            img.img-delete(data-id='#{robot.id}', src='/images/delete.png', alt='删除', width=20, height=20)
                            a(href="/expert/#{robot.id}")
                                img(src="#{robot.image}", alt="学者图", width=100, height=100)
                        h4 #{robot.name}
            div.panel-talk
                div.answer
                    if robots.length>0
                        div.sentence 比特能虚拟专家为您服务～
            div.talk-form.text-center
                form#form4talk(action='/virtual/robot/multi2talk', method='get')
                    input.input(name="question", type="search", autocomplete="off", placeholder="写上你的疑问吧")
                    button.btn.btn-primary(id='send', type="submit") 发送
        else
            h2.text-center 快去<a href="/records?type=4">搜索</a>专家向它们资讯吧～