<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='stylesheets/main.css'/>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
</head>
<body>
<% include public/header.ejs %>
<div class="search-header">
    <div>
        <div class="container">
        <form action="/search" method="get">
            <input name="querystring" class="input" value="<%= querystring %>"  autocomplete="off" placeholder="查询您需要的科技文献" type="search"/>
            <button type="submit" class="btn btn-primary">搜索</button>
        </form>
    </div></div>
</div>
<div class="container">
    <ul class="search-list">
        <div class="tips">比特能检索为您找到相关结果约<%= data.page.recordCount %>个</div>
        <% data.page.recordList.forEach(function(record, index){ %>
        <li>
            <h1 class="title"><a href=""><%- record.title %></a></h1>
            <div class="author">作者：<%= record.authors %></div>
            <p class="summary"><%- record.summary%></p>
        </li>
        <% }) %>
    </ul>
    <% include public/paging.ejs %>
</div>
<% include public/footer.ejs %>
<script src="javascripts/search/search.js"></script>
</body>
</html>
