<ul class="search-list">
	<div class="tips">比特能检索为您找到相关结果约 <i><%= recordCount %></i> 个</div>
	<% recordData.recordList.forEach(function(record, index){ %>
	<li>
		<h1 class="title"><a href="/article/<%= type %>/<%= record.id %>"><%- record.title %></a></h1>

		<div class="author">作者：<%- record.authors %></div>
		<p class="summary"><%- record.summary %></p>
	</li>
	<% }) %>
	<% include ../public/paging.ejs %>
</ul>