ul.search-list
    div.text-muted 成果共有#{expertInfo.evaluation.num_result}条

    for record in recordData.recordList
        li
            h1
                - var type = record.type == 0 ? 3 : 2;
                a(href="/article/#{type}/#{record.id}") !{record.title}
            div.author 作者：#{record.authors}
            p.summary #{record.summary}


//activeLi，判断分页是否需要高亮
mixin activeLi(index)
    if recordData.currentPage == index
        li.active
            a(href="/expert/#{id}?pn=#{index}") #{index}
    else
        li
            a(href="/expert/#{id}?pn=#{index}") #{index}
ul.paging.clearfix
    li
        a(href="/expert/#{id}?pn=1") <<
    - for(var i = recordData.beginIndex; i <= recordData.endIndex; i++){
        +activeLi(i)
    - }
    li
        a(href="/expert/#{id}?pn=#{recordData.pageCount}") >>
