<ul class="paging clearfix">
    <li>
        <a href="/search?qs=<%= qs %>"><<</a>
    </li>
    <% for(var i = recordData.beginIndex; i <= recordData.endIndex; i++){ %>
    <li <% if(recordData.currentPage == i){ %> class="active" <% } %>>
        <a href="/search?qs=<%= qs %>&pn=<%= i %>"><%= i %></a>
    </li>
    <% } %>
    <li><a href="/search?qs=<%= qs %>&pn=<%= recordData.pageCount %>">>></a></li>
</ul>