<ul class="paging clearfix">
    <li>
        <a href="/search?qs=<%= qs %>"><<</a>
    </li>
    <% for(var i = data.page.beginIndex; i <= data.page.endIndex; i++){ %>
    <li <% if(data.page.currentPage == i){ %> class="highlight" <% } %>>
        <a href="/search?qs=<%= qs %>&pn=<%= i %>"><%= i %></a>
    </li>
    <% } %>
    <li><a href="/search?qs=<%= qs %>&pn=<%= data.page.pageCount %>">>></a></li>
</ul>